env
index.html
index1.html
Td_Th_Tr.py
exploration.txt
product_info.csv
product_information.csv
results_url.txt
page_cat.py
explorer_scrapping-Copie.py
Accueil - Raccourci.lnk
Books Covers/
Sequential Art.csv
categ_elemts.csv
